{
    email {$ACME_EMAIL}
}

{$DOMAIN} {
    reverse_proxy app:8080 {
        # Preserve the original Host header
        header_up Host {host}

        transport http {
            # dial timeout to backend service
            dial_timeout 5s
        }
    }
    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
}
